aside li.overview {
  display: none;
}

aside li.subjects {
  display: none;
}

aside li.places {
  display: none;
}

/* width of search box on no results page */
.page-find .content-section .input-section {
  max-width: 300px;
}
